* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Amiri", serif;
  background: linear-gradient(45deg, #1e272e, #485460);
  min-height: 100vh;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

ul {
  list-style: none;
}

a {
  color: #212121;
  text-decoration: none;
}

.content .media nav {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: show 0.85s ease 1.1s forwards;
}
.content .media nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.content .media nav ul li {
  margin: 0 10px;
}
.content .media nav ul li a {
  line-height: 1;
  display: block;
  padding: 10px 10px;
}
.content .media nav ul li a i {
  transition: 0.25s opacity;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #f2f2f2;
  opacity: 0.25;
}
.content .media nav ul li a:hover i {
  opacity: 1;
}

@keyframes show {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
.content .media .header {
  display: block;
  padding: 25px 50px 10px 50px;
}
.content .media .header .cityname {
  color: #eee;
  font-size: 4rem;
  position: relative;
  right: -900px;
  text-shadow: 1px 1px 29px rgba(0, 0, 0, 0.391);
  animation: to-left 1s forwards;
}
.content .media .header .date {
  color: #eee;
  font-size: 3rem;
  position: relative;
  right: -900px;
  animation: to-left 1s forwards 0.1s;
}
.content .media .header .note {
  color: #ffda6a;
  font-size: 2rem;
  background-color: #332701;
  border: 2px solid #664d03;
  border-radius: 20px;
  position: relative;
  width: 600px;
  text-align: center;
  right: -900px;
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 50px;
  animation: to-left 1s forwards 0.2s;
}
.content .media .header .note .close {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1;
  cursor: pointer;
}
@media (max-width: 767px) {
  .content .media .header .cityname {
    font-size: 3rem;
  }
  .content .media .header .date {
    font-size: 2rem;
  }
  .content .media .header .note {
    font-size: calc(2rem - 10px) !important;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
  }
  .content .media .header .note span {
    margin-bottom: 10px;
    padding: 15px;
  }
}
.content .media hr {
  width: 80%;
  margin: 20px auto 40px auto;
  padding: 0 50px;
}

@keyframes to-left {
  0% {
    right: -900px;
  }
  100% {
    right: 0;
  }
}
.content .media .card {
  padding: 0px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .content .media .card {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 10px 0px 10px;
  }
}
.content .media .card div.box {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  animation: goTop 1s forwards;
  bottom: -300px;
  opacity: 0;
  animation-delay: calc(0.2s * var(--i));
}
.content .media .card div.box h1 {
  color: #eee;
  background: #1e272e;
  height: 20%;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .media .card div.box p {
  background-color: #485460;
  color: #eee;
  height: 80%;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 900;
  position: relative;
}
.content .media .card div.box p .time {
  z-index: 0;
  font-size: 7rem;
  opacity: 0.1;
  bottom: 0;
  position: absolute;
}

@keyframes goTop {
  0% {
    bottom: -300px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .content {
    overflow-y: hidden;
  }
}
.content .media select {
  text-align: center;
  border: 1px solid #f2f2f2;
  background-color: transparent;
  color: #eee;
  font-size: 2rem;
  line-height: 1;
  width: 250px;
  padding: 15px 0;
  margin: 50px 0 0 0;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  animation: goTop2 0.85s 1s ease forwards;
  cursor: pointer;
  transition: 0.25s background-color, 0.25s color;
}
.content .media select option {
  padding: 0;
  margin: 0;
  text-align: center;
}
.content .media select:hover {
  background-color: #f2f2f2;
  color: #212121;
}
.content .media select:focus {
  outline: none;
  background-color: #f2f2f2;
  color: #212121;
}

@keyframes goTop2 {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0;
}/*# sourceMappingURL=main.css.map */